<?xml version="1.0"?>
<robot name="i_am_arm" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="yaml_file" value="$(find homework2)/config/arm.yaml" />
    <xacro:property name="L1" value="${load_yaml(yaml_file)}"/>
    <xacro:property name="L2" value="${load_yaml(yaml_file)}"/>
    <xacro:property name="R1" value="${load_yaml(yaml_file)}"/>
    <xacro:property name="R2" value="${load_yaml(yaml_file)}"/>

    <link name="base_link">
        <!-- <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="0.5" radius="0.2"/>
        </geometry>
        </visual> -->
    </link>

    <!-- <joint name="base_link__link_01" type="continuous">
        <axis xyz="0 0 1"/>
        <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="0.5"/>
        <origin rpy="0 0 0" xyz="0 0 0.5"/>
        <parent link="base_link"/>
        <child link="link_1"/>
    </joint>

    <link name="link_1">
        <visual>
        <origin rpy="0 1.6 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="L1" radius="0.2"/>
        </geometry>
        </visual>
    </link>

    <joint name="link_1__link_2" type="continuous">
        <axis xyz="0 0 1"/>
        <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="0.5"/>
        <origin rpy="0 0 0" xyz="0 0 0.5"/>
        <parent link="link_1"/>
        <child link="link_2"/>
    </joint>

    <link name="link_2">
        <visual>
        <origin rpy="0 1.6 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="L2" radius="0.2"/>
        </geometry>
        </visual>
    </link>

    <joint name="link_2__endeff" type="fixed">
        <axis xyz="0 0 1"/>
        <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="0.5"/>
        <origin rpy="0 0 0" xyz="0 0 0.5"/>
        <parent link="link_2"/>
        <child link="endeff"/>
    </joint>

    <link name="endeff">
        <visual>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
            <cylinder length="0.2" radius="0.2"/>
        </geometry>
        </visual>
    </link>
    -->

</robot>