<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find homework2)/urdf/twoarm.urdf.xacro'"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find homework2)/rviz/arm_view.rviz"/>

</launch>