<!-- This file launches ??? -->

<launch>

<!--Load parameter from trajectory.yaml-->
<rosparam file="$(find homework2)/config/trajectory.yaml" />

<!--Launch turtlesim node-->
<node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" />

<!--Launch trajectory node, including private parameter-->
<node name="trajectory" pkg="homework2" type="trajectory">
    <param name="rate" value="50"/>
</node>

<!--Launch simodom node-->
<!-- <node name="simodom" pkg="homework2" type="simodom" /> -->

</launch>